* {
  margin: 0%;
  padding: 0%; }

body {
  background-color: #FFFAFA; }

.ancho {
  height: 750px; }

.server {
  height: 550px;
  background-repeat: no-repeat; }

.img_server {
  height: 100%; }

.intro {
  text-align: center; }

.where {
  background-color: #cfd4d8;
  width: 100%; }
  .where .gmaps {
    margin-left: 100px;
    border-radius: 14%;
    width: 600px; }
  .where h3 {
    padding-left: 10px; }
  .where p {
    margin-left: 20px;
    font-family: "Playfair Display", serif; }

.tit {
  color: #883c04; }

.font {
  font-family: "Playfair Display", serif; }

.fondo {
  background-color: #cfd4d8;
  font-family: "Playfair Display", serif; }

.fondo2 {
  background-color: #ededee; }

.fondo_color {
  background-color: #cfd4d8;
  text-align: center; }
  .fondo_color span {
    font-family: "Playfair Display", serif; }

.email {
  text-align: left; }

.formul {
  border-radius: 15px;
  height: 100%;
  width: 30%;
  padding: 10px; }

.active-color {
  background-color: #fcede6; }

.accordion-button-icon {
  background-color: #883c04; }
